#mapa{
	width:100%;
	min-height:480px;
        height:300px;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls { display: block !important; }
.ui-select {
 width: 33%;   
 padding-right: 1.5px;
}
#search_map{
	width: 33%;
}