#mapa{
	width:100%;
	min-height:480px;
        height:300px;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls { display: block !important; }
.ui-select {
 width: 33%;   
/* padding-right: 1.5px;*/
  /*padding-left: 2px;*/
}
#search_map{
	width: 33%;
}
.info_mapa
{
	font-family: "Comic Sans MS", cursive;
 font-size: 10px;
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
 border-top-style: none;
 border-right-style: none;
 border-bottom-style: none;
 border-left-style: none;
 letter-spacing: normal;
 text-align: center;
 vertical-align: middle;
 word-spacing: normal;
 border-radius: 25px;
}

img[src*="iws3.png"] {
    display: none;
}

.gm-style div,
 .gm-style span,
 .gm-style label,
 .gm-style a { font-family:Helvetica,Arial,sans-serif;font-size:10px;}.gm-style div,
 .gm-style span,
 .gm-style label{text-decoration:none}.gm-style a,
 .gm-style label{display:inline}.gm-style div{display:block;}.gm-style img{border:0;padding:0;margin:0}