body
{
	text-align:center;
}
#container
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:300px;
}

#top
{
	position:relative;
	width:100%;
	height:20px;
	padding:2px;
	background-color:#005B7F;
	text-align:center;
	font-family:Verdana;
	color:white;
	font-size:12pt;
	
	background: #2a6da9;
	background: -moz-linear-gradient(top, #59b7e3, #2c4f5e);
	/* webkit based browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));
	color: #000000; /* text colour (black) */
	height: auto; /* gradient uses the full height of the element */
	padding: 3px; /* distance from border edge to text */
}

#login_form
{
	position:relative;
	width:100%;
	height:150px;
	padding:2px;	
	font-family:Verdana;
	color:white;
	font-size:10pt;
	background-color:#A7A7A7;

	
}

#welcome_message
{
	text-align:center;
	margin-top:10px;
	margin-bottom:20px;
}

.error
{
	margin:0 auto;
	border:3px solid #d3153b;
	background-color:#fbe6f2;
	padding:5px;
	width:80%;
	text-align:center;
	font-size:18px;
	margin-bottom:20px;
	
}

.form_field_label
{
	float:left;
	margin-left:20px;
	width:30%;
}

.form_field
{
	float:left;
	width:30%;
}

#submit_button
{
	position:absolute;
	bottom:20px;
	right:20px;
}

input
{
	font-family:Arial;
}

